<header id="header">
  <div class="container">     
    <div class="header-content">   
      <div class="header-text">
        <div class="logo">
          <h6 class="venue_page">          
            <%= link_to 'Are you a bar owner?', venues_index_path %>
          </h6>
          <%= image_tag 'home/main-logo2.png', :class => 'main_logo' %>
        </div> 
        <div class="box">
          <h1>$10 for an hour-long open bar</h1>  
        </div> 
        <p> Wherever you want, whenever you want <br> <span class="second_line">Tons of locations across Manhattan and Brooklyn </span></p>             
      </div>
    </div>
  </div>
  <section class="registration content-padding" id="newsletter">
    <div class="container registration-content wow fadeInDown">
      <%= image_tag 'home/main_icon.png', :class => 'mail_icon' %>
      <h3 class="newsletter_text ">Be the first to know</h3>
      <div class="registration-form">
        <%= form_for @user, :url => { :action => "create" } do |f| %>
          <%= f.text_field :email, :placeholder => "Enter Email", :class => 'email_form', :id => 'fieldEmail' %>
          <%= f.submit 'Step Inside!', :class => "btn newsletter-submit", :id => "newsletter_button" %>
        <% end %>
      </div>                
    </div>  
  </section>    
</header>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= image_tag 'home/footer_logo.png', :class => 'footer_logo' %>
      </div>  
    </div> 
    <a href="https://www.facebook.com/Grotto-882215308529091/?fref=ts">
      <%= image_tag 'home/facebook.png', :class => 'facebook' %>
    </a>
    <a href="mailto:team@grottoapp.com">
      <%= image_tag 'home/main_icon.png', :class => 'mail_us' %>
    </a>
    <div class="row">
      <div class="col-sm-3">
        <a href="faq.html">Faq</a>
      </div>
      <div class="col-sm-3">
        <a href="partner.html">Partner with Grotto</a>
      </div>
      <div class="col-sm-3">
        <a href="terms.html">Terms</a>
      </div>
      <div class="col-sm-3">
        <a href="#">Privacy Policy</a>
      </div>
    </div> 
  </div>     
</footer>