<section id="student">
  <div class="welcome text-center">
    <h3>THANK YOU FOR JOINING</h3>
    <%= link_to image_tag('splash/thrvly_min.png', alt: 'Thrvly'), root_path %>
  </div>
  <div class="banner">
    <div class="row text-center">
      <div class="col-sm-6">
        <h1 class="bold inspire">Inspire Health &</h1>
        <h1 class="bold">Change The World</h1>
        <div class="heart">
          <i class="fa fa-heart fa-5x"></i>
        </div>
        <h3>YOUR FRIENDS' HEALTH</h3>
        <h3>&</h3>
        <h3>SHARE & SUPPORT THE BEST INSTRUCTORS</h3>
        <h3>IN THE WORLD</h3>
      </div>
      <div class="col-sm-6">
        <h2 class="bold invite">INVITE FRIENDS &</h2>
        <h2 class="bold">FOLLOWERS</h2>
        <h4 class="bold earn">EARN REWARDS FOR YOURSELF, FRIENDS &</h4>
        <h4 class="bold">YOUR FAV LOCAL STUDIOS</h4>
        <h5 class="share">Share your unique link via email, facebook, twitter,</h5>
        <h5>instagram & pinterest.</h5>

        <div class="ref-link">http://pure-taiga-93399/?ref=<%= current_user.referral_code %></div>
        <div class="social">
          <div class="social-icon">
            <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
          </div>
          <div class="social-icon">
            <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
          </div>
          <div class="social-icon">
            <a href="https://www.pinterest.com" target="_blank"><i class="fa fa-pinterest-p fa-3x"></i></a>
          </div>
          <div class="social-icon">
            <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% 
    referrals_count = current_user.referrals.count
    stops = User::REFERRAL_STEPS
    found = nil
    stops.reverse_each do |stop|
      if stop["count"] <= referrals_count and !found
        stop["selected"] = true
        found = stop
      else
        stop["selected"] = false
      end
    end
  %>
  <div class="content">
    <div class="dashboard">
      <div class="row">
        <div class="col-sm-3">
          <div class="title">
            <div class="friends">
              <%= image_tag("student/friend_join.png", alt: "Friend Join") %>
              <h5>Friends Joined</h5>
            </div>
            <div class="reward">
              <%= image_tag('student/present.png', alt: "Reward") %>
              <h5>Bonus Rewards</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="col-sm-3 col-sm-offset-3 text-center item ">
            <div class="prize <%= stops[0]['selected'] ? 'selected' : '' %>">
              <h4 class="bold">10</h4>
            </div>
            <div class="prize-text">
              <h5>FREE</h5>
              <h5>MONTH</h5>
            </div>
            <div class="tooltip">
              <%= image_tag 'reward/one.png', alt: 'Reward One' %>
            </div>
          </div>
          <!-- <div class="col-sm-2 text-center item">
            <div class="prize">
              <h4 class="bold">50</h4>
            </div>
            <div class="prize-text">
              <h5>PREMIUM</h5>
              <h5>PASS</h5>
            </div>
            <div class="tooltip">
              <%= image_tag 'reward/two.png', alt: 'Reward Two' %>
            </div>
          </div> -->
          <div class="col-sm-3 text-center item">
            <div class="prize <%= stops[1]['selected'] ? 'selected' : '' %>">
              <h4 class="bold">25</h4>
            </div>
            <div class="prize-text">
              <h5>"GIVE 3</h5>
              <h5>GET 3"</h5>
            </div>
            <div class="tooltip">
              <%= image_tag 'reward/three.png', alt: 'Reward Three' %>
            </div>
          </div>
          <!-- <div class="col-sm-2 text-center item">
            <div class="prize">
              <h4 class="bold">100</h4>
            </div>
            <div class="prize-text">
              <h5>UNLIMITED</h5><h5>SUTUDIO</h5><h5>ACCESS</h5>
            </div>
            <div class="tooltip">
              <%= image_tag 'reward/four.png', alt: 'Reward Four' %>
            </div>
          </div> -->
          <div class="col-sm-3 text-center item">
            <div class="prize <%= stops[2]['selected'] ? 'selected' : '' %>">
              <h4 class="bold">50</h4>
            </div>
            <div class="prize-text">
              <h6>GIFT A PREMUIM MEMSERSHIP</h6><h6>&</h6><h6>EXTRA SPECIAL GIFT FOR YOU!!</h6>
            </div>
            <div class="tooltip">
              <%= image_tag 'reward/five.png', alt: 'Reward Five' %>
            </div>
          </div>
        </div>
        <div class="process-bar">
          <div class="tracked <%= found ? found['class'] : '' %>">
          </div>
        </div>
      </div>

    </div>
    <div class="track text-center">
      <% if referrals_count == 0 %>
        <h4>NO FRIENDS HAVE JOINED</h4>
      <% elsif referrals_count == 1 %>
        <h4>1 FRIEND HAS JOINED</h4>
      <% else %>
        <h4><%= referrals_count %> FRIENDS HAVE JOINED</h4>
      <% end %>
      <h5>Keep Checking</h5>
    </div>
  </div>
</section>
