<!DOCTYPE html>
<html class="<%= @bodyId %>">
  <head>
    <title>Thrvly</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">
    <% if @is_mobile %>
        <% if @bodyId == 'home' %>
          <meta name="viewport" content="width=1600" />
        <% else %>
          <meta name="viewport" content="width=1120" />
        <% end %>
    <% end %>
    <%= favicon_link_tag 'splash/thrvly_min.png' %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <%= stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= @bodyId %>">
    <%= yield %>
  </body>
  
</html>